<template>
    <v-container>
        <v-card pa-3 color="white">
            <v-card-title>
                لطفا یکی از بسته های زیر را انتخاب کنید.



            </v-card-title>
            <v-card-text>
                <v-layout row>
                    <v-flex xs12 md4></v-flex>
                    <v-flex xs12 md4></v-flex>
                    <v-flex xs12 md4></v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-container>
</template>
<script>
    export default{
        layout: 'user'
    }
</script>